{
    "columnwidth": 120,
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "trimTrailingWhitespace": true,
    "insertFinalNewline": false
}